
extends ./templates/main.pug

block content
  .container
    img(src="ind.png" alt="Index Logo")
  .container
    h1.title Micro-service API challenges - Express
    h2 Projects Index
    p <a href="/timestamp">Timestamp</a> |&nbsp;
      <a href="/whoami">Whoami</a> |&nbsp;
      <a href="/shurl">URL Shortener</a> |&nbsp;
      <a href="/imgsearch">Image Search</a> |&nbsp;
      <a href="/fileanalyse">File Analyser</a>
