
- apilink = "api/" + selector

doctype html
html
  head
    title #{title}
    link(href='favicon.ico' rel='shortcut icon' type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(href='style.css' rel='stylesheet' type='text/css')
  body

    block content

    .footer
      p
        |by <a href="http://www.emant.altervista.org">em-ant</a> | <a href="https://github.com/Em-Ant">github</a> |
        |<a href="http://codepen.io/Em-Ant/">codepen</a> | <a href="http://www.freecodecamp.com/em-ant">freeCodeCamp</a>
        if selector
          | &nbsp;| <a href="/">&lt;&lt;index</a>
